.containerUsers {
    height: calc(100vh - 76px);
    overflow: auto;
    padding: 0 20px;
    background: #f3f3f3;
}
.users {
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 23px 50px;
    background: #ffffff;
    border-radius: 21px;
}
.actions {
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
}
.buttonCreate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 35px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 10px;
    background: #344693;
    color: #ffffff;
    font: 600 14px sans-serif;
    text-decoration: none;
}

@media (max-width: 768px) {
    .containerMyTeam {
        height: auto;
    }
    .contentUserImage {
        width: 100%;
    }
}