.form {
    display: flex;
    flex-direction: column;
}
.name,
.email,
.url,
.terms {
    border-radius: 11px;
    box-shadow: 0 0 0 2px #111419;
    background: transparent;
}
.password {
    border-radius: 11px;
    box-shadow: 0 0 0 2px #111419;
}

.buttonCreateEdit {
    color: #ffffff !important;
    background: #2054a5 !important;
    transition: 0.5s !important;
    font: 600 14px sans-serif !important;
    max-width: 200px;
    margin-left: auto;
}
.buttonCreateEdit:hover {
    background: #003a70 !important;
    transition: 0.5s;
}
