.form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 540px;
    margin: auto;
    background: #ffffff;
    font-family: sans-serif;
    color: #202123;
    font-weight: bold;
    border-radius: 30px;
}
.form ::placeholder {
    color: #202123;
    font-weight: bold;
}
.title {
    margin: 0;
}
.form label {
    color: #202123;
    font: bold 14px sans-serif;
}
.messageAlert {
    font-size: 13px;
    color: red;
}
.message {
    padding: 10px;
    color: #13a452;
    background: #dafbe8;
    border-radius: 11px;
}
.evaluarCaso {
    display: flex;
    color: #ffffff;
    background: #3264D3;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    padding: 12px;
    cursor: pointer;
    width: 90%;
    max-width: 200px;
    border-radius: 8px;
}
.evaluarCaso:hover {
    background: #344693;
    transition: 0.5s;
}
.inputs>div {
    border-radius: 6px !important;
}
.inputs>textarea {
    font-family: sans-serif !important;
}

.goBack {
    text-decoration: none;
    color: #010101;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}
@media (max-width: 1024px) {
    .title {
        font-size: 18px;
    }
    .evaluarCaso {
        width: 90%;
        margin: auto;
    }
}