.form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 540px;
    padding: 30px;
    background: #ffffff;
    font-family: sans-serif;
    color: #202123;
    font-weight: bold;
    border-radius: 30px;
}
.form ::placeholder {
    color: #202123;
    font-weight: bold;
}
.gender span {
    font: 500 14px sans-serif;
}
.createMember,
.registerRenovators,
.editRenovators {
    background: #3264D3;
    transition: 0.5s;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    padding: 12px;
    cursor: pointer;
}
.createMember:hover,
.registerRenovators:hover,
.editRenovators:hover {
    background: #344693;
    transition: 0.5s;
}