body {
    margin: 0;
    font-family: sans-serif;
}
.ps-sidebar-root .ps-menu-root .css-ewdv3l {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
}
.nextui-c-egxOLa.nextui-navbar-container {
    max-width: 100%;
    padding: 0 25px 0 0;
}
.showMobile {
    display: none;
}
.nextui-c-fyNvBR {
    white-space: normal !important;
}
@media (max-width: 600px) {
    .nextui-navbar-content button {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .showMobile {
        display: flex;
    }
}

/****** Table Users ******/
#tableUsers .sc-bZHTEL.sc-ilxdoh.clMIAz.VTreY {
    font-size: 0;
}
#tableUsers .sc-bZHTEL.sc-ilxdoh.clMIAz.VTreY:before {
    content: 'Usuarios por pagina';
    font-size: 12px;
}
/****** Resumen Users ******/
#selectMonth {
    display: flex;
}
#selectMonth .Resumen_selectMonth__xZ31Q__control {
    background: #3264D3;
    border-radius: 20px;
    min-width: 300px;
}

#selectMonth .Resumen_selectMonth__xZ31Q__single-value {
    color: #ffffff;
    text-transform: uppercase;
    font: 600 14px sans-serif;
    text-align: center;
}