.mainLogin {
    background: #111419;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: auto;
    padding: 40px 0;
}

@media (max-width: 768px) {
    .mainLogin {
        background: #111419;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        padding: 30px;
    }
}
