.navbar {
    --nextui--navbarBorderColor: none
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin: 5px;
}
.navbar {
    margin-right: 80px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navLink {
    margin: 5px;
    padding: 5px;
    color: #3c3c3c;
    text-decoration: none;
}
.btnToggle {
    margin: 0 20px;
}
.contentTitle {
    display: flex;
    flex-direction: column;
}
.hamburger {
    margin: 10px;
    font-size: 30px;
}
.navTitle {
    margin: 5px 0 0 35px;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}
.navSubTitle{
    margin: 5px 0 0 35px;
    color: #aeadad;
    font-size: 18px;
}
@media (max-width: 1024px) {
    .navSubTitle{
        display: none;
    }
}